.navbar {
    background-color: #201E20;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.signout-btn {
    background-color: #E7E8D1;
}

#title {
    position: absolute;
    left: 1%;
    font-size: 2rem;
}